@import 'null.scss';
body{
    font-family: 'Inter', sans-serif;
}
//containers//
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1267px;
    margin: 0 auto;
}
//containers//
//header//
.header {
    padding: 41px 23px 41px 23px;

    @media (max-width:880px) {
        padding: 30px 5px 41px 0px;
    }
		&__container {
		}

		&__content {
            display: flex;
            justify-content: space-between;
            align-items: center; 
		}

		&__logo {
            display: flex;
            align-items: center;
            @media (max-width:760px) {
                flex: 1 1 100%;
            }    
		}

		&__menu {
            display: flex;     
            @media (max-width:760px) {
                display: none;
            }          
		}

		&__button {
            display: flex;
            @media (max-width:760px) {
                margin: 0px 20px 0px 0px;
            }    
		}

        &__burger-menu {
            display: none;
            @media (max-width:760px) {
                height: 20px;
                display: flex;
                justify-content: space-between;
                flex: 0 0 30px;
                flex-direction: column;
                position: relative;
                &::before{
                    content: "";
                    height: 3px;
                    width: 100%;
                    background-color: #232E35;
                }
                & span{
                    height: 3px;
                    width: 100%;
                    background-color: #232E35;
                }
                &::after{
                    content: "";
                    height: 3px;
                    width: 100%;
                    background-color: #232E35;
                }
            }                
        }
}
.header-logo {
		&__icon {
            padding: 0px 16px 0px 23px;
            cursor: pointer;
            @media (max-width:880px) {
                padding: 0px 16px 0px 5px;
            }
		}

		&__text {
            color: #232E35;
            font-size: 24px;
            font-weight: 700;
            transition: all 0.2s ease 0s;
            &:hover{
                color: #7E74F1;
            }
		}
}
.menu {
		&__list {
            display: flex;
		}

		&__item {
            &:not(:last-child){
                margin: 0px 26px 0px 0px;
                @media (max-width:880px) {
                    margin: 0px 16px 0px 0px;
                }
            }
		}

		&__link {
            padding: 10px 22px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #232E35;
            transition: all 0.2s ease 0s;
            
            &:hover{
                color:  #7E74F1;
            }
		}
}
.header-button {
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    transition: all 0.4s ease 0s;
    @media (max-width:760px) {
        background-color: #232E35;
    }   
    &:hover{
        background-color:  #7E74F1;
    }
		&__link {
            padding: 16px 24px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #232E35;
            transition: all 0.2s ease 0s;
            @media (max-width:760px) {
                padding: 12px 24px;
                color: #fff;
            }    
            &:hover{
                color:  #fff;
            }
		}
}
//page//
.page {
    flex: 1 1 100%;
    &__about-me {
        margin: 170px 5px 0px 5px;
        padding: 0px 0px 153px 0px;
        @media (max-width:1024px) {
            margin: 100px 5px 0px 5px;
        }
        @media (max-width:760px) {
            margin: 50px 5px 0px 5px;
        }
    }
    &__services {
        padding: 114px 5px 184px 5px;
        background: #f8f8f8;
        @media (max-width:768px) {
            padding: 114px 5px 90px 5px;
        }
        @media (max-width:760px) {
            margin: 450px 0px 0px 0px;
        }
    }
    &__my-works {
        padding:104px 5px 176px 5px;
        @media (max-width:760px) {
            padding:80px 5px 76px 5px;
        }
    }
    &__career {
        padding: 110px 5px 122px 5px;
        @media (max-width:660px) {
            padding: 60px 5px 50px 5px;
        }
    }
    &__blog {
        padding: 139px 5px 176px 5px;
        @media (max-width:1024px) {
            padding: 60px 5px 50px 5px;
        }
        @media (max-width:370px) {
            padding: 60px 0px 50px 0px;
        }
    }
    &__testimonials {
        background-color: #FBFBFB;
        padding: 104px 5px 153px 5px;
        @media (max-width:1024px) {
            padding: 60px 5px 50px 5px;
        }
    }
    &__skills {
        padding: 105px 5px 176px 5px;
        @media (max-width:1024px) {
            padding: 70px 5px 76px 5px;
        }   
    }
    &__contacts {
        background-color: #FBFBFB;
        padding: 104px 5px 134px 5px;
        @media (max-width:768px) {
            padding: 50px 5px 70px 5px;
        }
    }
}
//page//
//=======
//common//
.subtitle {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: all 0.5s ease 0s;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 7.5px;
    color: #656D72;
    text-transform: uppercase;
    @media (max-width:760px) {
        justify-content: center;
    }
    &::before{
        content: '';
        width: 16px;
        height: 2px;
        background-color: #D9D9D9;
    }
    &__center {
        justify-content: center;
        &::before{
            content: '';
            width: 16px;
            height: 2px;
            background-color: #D9D9D9;
        }
    }
}
.title {
    margin: 20px 0px 0px 0px;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    color: #232E35;
    &__center {
        text-align: center;
    }
    @media (max-width:760px) {
        text-align: center;
    }
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #232E35;
}
//common//
//=======
//about-me//
.about-me {
    &__container {
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @media (max-width:760px) {
            margin: 0px 0px 16px 0px;
            
        }
        @media (max-width:560px) {
            margin: 0px 0px 16px 0px;
            text-align: center;
        }
    }

    &__content-block {
        display: flex;
        max-height: 300px;
        align-items: center;
        @media (max-width:560px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    &__text-block {
        flex: 1 0 50%;
    }
    &__decor{
        width: 100%;
        max-width: 336px;
        height: 400px;
        position: relative;
        &::before, 
        &::after{
            content: '';
            position: absolute;
            top: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 16px;
        }
        &::before{
            background: #EAE6FE url(../Img/Main/About-me/lines.svg) no-repeat top right;
            z-index: 2;
        }
        &::after{
            background-color: #7E74F1;     
            transform: rotate(-9.55deg);
            z-index: 1;
        }
    }
}
.decor-about-me {
    transition: all 0.5s ease 0s;
    @media (max-width:560px) {
        margin: 0px 0px 0px 50px;
    }
    @media (max-width:424px) {
        margin: 0px 0px 0px 20px;
    }
    @media (max-width:374px) {
        margin: 0px 0px 0px 0px;
    }
    &__image-block {  
        position: absolute;
        bottom: 0;
        left: 0;
        @media (max-width:560px) {
            bottom: 10%;
            left: 10%;
        }   
    }

    &__picture {
        position: relative;
        z-index: 2;    
        border-radius: 16px;
    }
}

.text-block {
    &__title {
        margin: 0px 0px 32px 0px;
        & span{
            color: #7E74F1;
        }
        @media (max-width:560px) {
            text-align: center;
        }
    }
    &__text {
        max-width: 538px;
        margin: 0px 0px 40px 0px;
        @media (max-width:560px) {
            text-align: center;
        }
    }

    &__social {
        display: flex;
        @media (max-width:560px) {
            justify-content: center;
        }
    }
}
.social {
    &__icons {
        display: flex;
        gap: 32px;
    }

    &__icon {
        & img{
            cursor: pointer;
        }
    }
}
///services///
.services {
    &__container {
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
    }

    &__card {
        display: flex;
        justify-content: center;
        margin: 104px 0px 0px 0px;
        @media (max-width:768px) {
            margin: 52px 0px 0px 0px;
        }
    }
}
.card-services {
    &__items {
        display: flex;
        gap: 56px;

        @media (max-width:1024px) {
            gap: 28px;
        }
        @media (max-width:768px) {
            gap: 18px;
        }    
        @media (max-width:760px) {
            flex-direction: column;
        }
    }

    &__item {
        padding: 53px 57px;
        border-radius: 8px;
        justify-content: center;
        flex: 0 1 33.333%;
        background-color: #FFFFFF;
        @media (max-width:1024px) {
            padding: 53px 5px;
        }
        @media (max-width:768px) {
            padding: 35px 5px;
        }
    }
}
.item-card-services {
    &__icon {
        padding: 16px;
        background: #F5F3FE;
        border-radius: 16px;
        max-width: 56px;
        margin: 0 auto;
        img{
            width: 24px;
            margin: 0 auto;
        }
    }

    &__title {
        margin: 24px 0px 16px 0px;
        text-align: center; 
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #232E35;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #232E35;
    }
}
//my-works///
.my-works {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__content-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:760px) {
            flex-direction: column;
            text-align: center;
        }
    }
    &__title-block {
    }

    &__subtitle {

    }

    &__title {
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__arrow {
        width: 40px;
        height: 40px;
        &_left {
            transform: rotate(-180deg);
            margin: 0px 16px 0px 0px;
        }

        &_right {
        }
    }
    &__slider {
    }

    &__wrapper {
      margin: 144px 0px 0px 0px;
        @media (max-width:1240px) {
        margin: 50px 0px 0px 0px;  
    }
    }

    &__slide {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 56px;
        @media (max-width:1200px) {
            gap: 10px;
        }
        @media (max-width:760px) {
            justify-content: center;
        }
    }
}
._icon-slider-arrow {
    background: url(../Img/Main/Featured/Icon/shape\ \(6\).svg) no-repeat 50% 50%;
    background-color: #EAE6FE;
    border-radius: 16px;
    transition: all 0.4s ease 0s;
    &:hover{     
        background-color: #d6ceff;
    }
}
.swiper {
}
.swiper-wrapper {
    
}
.swiper-slide {
   
}
.item-my-works {
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &__image {
        padding-bottom: 100%;
        position: relative;
        opacity: 0.5;
        transition: all 0.4s ease 0s;
        &:hover{
            transform: scale(1.02);
        }
    
     img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

     }
    }

    &__body {
        padding: 24px 0px 24px 24px;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;   
        margin: 0px 0px 16px 0px;   
        a {
            color: #232E35; 
        }
    }

    &__link-title {
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__app {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #656D72;
        margin: 0px 16px 0px 0px;
        border: 1px solid #F1F1F1;
        border-radius: 4px;
        padding: 4px 8px;
        transition: all 0.2s ease 0s;
        &:hover{
            background-color: #7E74F1;
            color: #fff;
        }   
    }

    &__link {
        display: flex;
    }
}
///career//
.career {
    background: #f5f5f5;
		&__container {
            display: grid;
            grid-template-columns: auto 1fr;
            align-content: center;
            grid-auto-flow: column;
            grid-template-rows: auto auto;
            column-gap: 137px;
            @media (max-width:950px) {
                column-gap: 100px;
            }
            @media (max-width:770px) {
                column-gap: 70px;
            }
            @media (max-width:660px) {
                display: flex;
                flex-direction: column;
            }
		}

		&__title-block {
            @media (max-width:660px) {
                text-align: center;
            }
		}

		&__subtitle {
		}

		&__title {
		}

		&__navigation {
            display: grid;
		}

		&__content {
            grid-row: span 2;
            align-content: center;
		}
}
.navigation {
    @media (max-width:660px) {
        padding: 30px 0px 30px 0px;
    }
		&__title {
            text-align: left;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #232E35;
            padding: 16px 32px;
            transition: all 0.3s ease 0s;
            position: relative;
            @media (max-width:660px) {
                width: 320px;
                margin: 0 auto;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../Img/Main/Career/Icon/shape\ \(5\).svg) 90% 50% no-repeat;
            }
            &:hover{
                background-color: #FFFFFF;
                border-radius: 4px;        
            }
            &:focus{
                color: #7E74F1;
            }
		}
}
.content {
		&__body { 
            position: relative;
            padding: 0px 0px 32px 0px;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #F1F1F1;
            }
            @media (max-width:660px) {
                text-align: center;
                padding: 0px 0px 17px 0px;
            }
		}

		&__title {
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            margin: 0px 0px 8px 0px;
            a{
                text-decoration: underline;
                color: #232E35;
                transition: all 0.2s ease 0s;
                &:hover{
                    color: #7E74F1;
                }
            }
		}

		&__location {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #656D72;
            margin: 0px 0px 16px 0px;
		}

		&__time {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #656D72;
            margin: 0px 0px 16px 0px;
		}

		&__categories {
            border: 1px solid #F1F1F1;
            border-radius: 4px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            display: inline-flex; 
            a {
                border-radius: 4px;
                padding: 4px 8px;
                color: #656D72;
                transition: all 0.2s ease 0s;
                &:hover{
                    color: #fff;
                    background-color: #7E74F1;
                }
            }
            &:not(:last-child){
                margin: 0px 10px 0px 0px;
            }
		}

		&__list {
            display: flex;
            flex-direction: column;
            padding: 32px 0px 32px 0px;
            gap: 16px;
		}

		&__list-text {
            font-weight: 400;
            font-size: 16px;
            color: #656D72;
            line-height: 19px;
            position: relative;
            padding: 0px 0px 0px 18px;
            &::before{
                content: '';
                position: absolute;
                top: 40%;
                left: 0;
                width: 10px;
                height: 2px;
                background-color: #D9D9D9;
            }
		}
}
//blog//
.blog {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title-block {
    }

    &__subtitle {
    }

    &__title {
    }

    &__cards {
    }
}
.card-blog {
    margin: 144px 0px 0px 0px;
    @media (max-width:1024px) {
        margin: 77px 0px 0px 0px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 40px;
        @media (max-width:1024px) {
            gap: 10px;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: #F1F1F1;
        border-radius: 0px 0px 8px 8px;
        overflow: hidden;
        
    }

    &__image {
        cursor: pointer;
        transition: all 0.4s ease 0s;
        &:hover{
            transform: scale(1.01);
        }
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #232E35;
        margin: 16px 0px 16px 0px;
        padding: 0px 16px 0px 16px;
    }

    &__date {
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        padding: 0px 16px 0px 16px;
        a{
            color: #656D72;
            background: #FBFBFB;
            padding: 4px 8px;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #656D72;
        margin: 16px 0px 42px 0px;
        padding: 0px 16px 0px 16px;
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        margin: 0px 0px 24px 0px;
        padding: 4px 8px 4px 8px;
        a{
            color: #656D72;
            transition: all 0.2s ease 0s;
            &:hover{
                color: #7E74F1;
            }
        }
    }
}

.testimonials {
		&__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
		}

		&__title-block {
		}

		&__subtitle {
		}

		&__title {
           
		}

		&__card {
            margin: 132px 0px 0px 0px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, auto));
            gap: 48px;
            @media (max-width:1024px) {
                column-gap: 10px;
            }
            @media (max-width:768px) {
                margin: 80px 0px 0px 0px;
            }   
		}
}
.card-testimonials {

		&__item {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 0px 31px 24px 31px;
            @media (max-width:760px) {
                padding: 0px 5px 24px 5px;
            }   
		}

		&__avatar {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
            transform: translate(0px, -50%);
		}

		&__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #232E35;
            margin: 0px 0px 40px 0px;
            flex: 1 1 auto; //щоб тект збільшувавя для надійності
		}

		&__name {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #232E35;
            margin: 0px 0px 12px 0px;
		}

		&__profesion {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;  
            a{
                color: #656D72; 
                border-radius: 4px;
                padding: 4px 8px;
                transition: all 0.2s ease 0s; 
                background: #FBFBFB;   
                &:hover{
                    color: #7E74F1;
                    text-decoration: underline;
                }
            }    
		}
}
//skills
.skills {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title-block {
    }
    &__subtitle {
    }
    &__title {
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 112px 0px 0px 0px;
        @media (max-width:1024px) {
            margin: 66px 0px 0px 0px;
        }   
        @media (max-width:760px) {
            grid-template-columns: 1fr;
        }   
    }

    &__timeline {
        margin: 0px 0px 0px 10px;
    }
    &__content {
        display: grid;
        @media (max-width:760px) {
            margin: 50px 0px 0px 0px;
        }   
    }
}
.timeline {
    display: grid;
    row-gap: 64px;
    position: relative;
    &::before{
        content: '';
        left: -1px;
        position: absolute;
        top: 0;
        width: 2px;
        height: 80%;
        background-color: #F1F1F1;
    }
    &__item {
        position: relative;
        padding: 0px 0px 0px 20px;
     
        &::before{
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            background-color: #F1F1F1;
            border-radius: 50%;
            transform: translate(-50%, 0px);
        }
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #232E35;
        margin: 0px 0px 10px 0px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #656D72;
        margin: 0px 0px 24px 0px;
    }

    &__date {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #232E35;
    }
}
.content-skills {
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #656D72;
        margin: 0px 0px 64px 0px;
    }

    &__items {
        display: grid;
        gap: 40px;
    }

    &__item {
    }

    &__label {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #232E35;
        margin: 0px 0px 16px 0px;
    }

    &__line {
        background: #F5F3FE;
        border-radius: 4px 0px 0px 4px;
        height: 8px;
        position: relative;
        & span{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #7E74F1;
        }
    }
}
//contacts
.contacts {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        @media (max-width:768px) {
            grid-template-columns: 1fr;
        }
    }

    &__form {
        display: grid;
        gap: 16px;
        @media (max-width:768px) {
            order: 2;
        }
    }

    &__body {
        display: grid;
        justify-content: center;
        @media (max-width:768px) {
            margin: 0px 0px 30px 10px;
            order: 1;
            justify-content: start;
        }
    }

    &__list {
        display: grid;
        row-gap: 48px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__button {
        @media (max-width:768px) {
            order: 3;
        }
    }
}
.form {
    &__item {
    }

    &__input {
        width: 100%;
        height: 48px;
        border-radius: 8px;
        padding: 0px 24px;
        background-color: #fff;
        font-size: 16px;
        border: 1px solid #FFF;
        &::placeholder{
            font-size: 16px;
            font-weight: 400;
            color: #656D72;
        }
        &:focus{
            border: 1px solid #F1F1F1;
        }
    }

    &__button {
    }
}
textarea.form__input{
    height: 190px;
    resize: none;
    margin: 0px 0px 48px 0px;
    padding: 20px 24px;
}
.button {
    &__link {
        background: #7E74F1;
        border: 1px solid #EAE6FE;
        border-radius: 8px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding: 16px 0px 16px 0px;
        display: flex;
        justify-content: center;
        transition: all 0.2s ease 0s;
        &:hover{
            background-color: #fff;
            color: #7E74F1;
        }
    }
}

.item-contacts {
    &__image {
        width: 56px;
        height: 56px;
        background: #F5F3FE;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex: 0 0 56px;
    
    }
    &__body{
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #232E35;
    }

    &__info {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        a{
            color: #656D72;
            &:hover{
                text-decoration: underline;
                color: #7E74F1;
            }
        }
    }
}
//footer
.footer {
    padding: 88px 5px 88px 5px;
    @media (max-width:768px) {
        padding: 66px 5px 44px 5px;
    }
    @media (max-width:760px) {
        padding: 44px 5px 44px 5px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__social {
        margin: 0px 0px 24px 0px;
    }

    &__company {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #656D72;
    }
}
.social {

    &__icons {
    }

    &__icon {
    }
}
